
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}
@model List<SellDeviceTech.Models.CartItem>
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">remove</th>
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="li-product-price">Unit Price</th>
                                    <th class="li-product-quantity">Quantity</th>
                                    <th class="li-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <form action="/Cart/Update">
                                            <td class="li-product-remove"><a href="@Url.Action("RemoveItemCart","Cart",new {productId = item.IdCate})"><i class="fa fa-times"></i></a></td>
                                            <td class="li-product-thumbnail"><a href="#"><img src="~/Assets/images/product/@item.product.Image" style="width:100px" alt="Li's Product Image"></a></td>
                                            <td class="li-product-name"><a href="#">@item.product.TitleProduct</a></td>
                                            <td class="li-product-price"><span class="amount">$@item.product.Price</span></td>
                                            <td class="quantity">
                                                <label>Quantity</label>

                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" value="@item.Quantity" type="text">
                                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                </div>

                                            </td>
                                            <td class="product-subtotal"><span class="amount">$@(item.Quantity * item.product.Price)</span></td>
                                        </form>
                                     </tr>}
                                </tbody>
                                </table>
                            </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                                <div class="coupon2">
                                    <input class="button" name="update_cart" value="Update cart" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>$130.00</span></li>
                                    <li>Total <span>$130.00</span></li>
                                </ul>
                                <a href="@Url.Action("Index","Checkout")">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

